@require 'styl/variables'
@require 'styl/mixins'

@require 'styl/reset'
@require 'styl/typography'

// Components
@require 'components/hello-world'

html, body, .site
	min-height 100vh

.site
	lost-align center
	background-color #e2e2e5
	box-shadow 0px 0px 40px 16px rgba(0,0,0,0.22)
