
$font-roboto = 'Roboto'
$font-roboto-slab = 'Roboto Slab', serif

body
	-webkit-font-smoothing antialiased
  	-moz-osx-font-smoothing grayscale
	font-family Arial, serif

.wf-active
	body
		font-family 'Roboto', serif


p, h1, h2, h3, h4, h5, h6
	cursor text
